.background {
  background-color: #c0879d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

form {
  background-color: white;
  width: 25rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.75);
}

input {
  margin-bottom: 1rem;
}
